.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: -20%
    left: 20%
    width: 85px
    @media screen and (min-width: $bp-max-xl)
      top: 5%
      left: 20%
      
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: 10%
    width: 85px
    @media screen and (min-width: $bp-max-xl)
      top: 50%
      left: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 0
    width: 85px

  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 20%
    width: 85px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important
 
.banner-interno__titulo__icono i
  color: $color-primario
 
figcaption
  font-weight: normal
 
.banner-principal__row .banner-principal__img
  width: 400px !important
  margin-top: auto
  padding: 0 !important
  @media screen and (min-width: $bp-max-xl)
    padding-top: 100px !important
    width: 500px !important
 
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-tablet.png") !important
  @media screen and (max-width: 767px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-mobile.png") !important


// .bg-color-secundario-s5
//   background-color: $color-secundario-s5
// .bg-color-acento-contenido-ac10
//   background-color: $color-acento-contenido-ac10
    
.banner-text
  border-radius: 12px
  padding: 30px
  margin-top: -40px
  box-shadow: 0px 0px 5px 0px #00000030

@media (min-width: 992px)
  .banner-text
    margin-top: -60px

.z-2
  position: relative
  z-index: 2

.w-141
  width: 141px
  margin: 0 auto

.w-81
  width: 81px
  margin: 0 auto

.w-64
  width: 64px
  margin: 0 auto

.w-96
  width: 96px
  margin: 0 auto

.decorated-title
  width: fit-content
  padding: 7px 20px 8px 40px
  margin-left: 30px
  position: relative
  background: #8C8FEC
  background: linear-gradient(90deg,rgba(140, 143, 236, 1) 0%, rgba(242, 243, 252, 1) 100%)
  border-radius: 20px
  display: block
  @media screen and (min-width: $bp-min-md)
    padding-left: 36px
  &::before
    content: url("../assets/curso/temas/tema3/title-icon.png")
    position: absolute
    left: -34px
    top: 50%
    transform: translateY(-50%)

.acordion
  &__activo
    background-color: $color-primario-p5

  .acordion__accion__btn--a
    background-color: #134336
    color: #ffffff

.bg-waves
  background-image: url("../assets/curso/temas/tema1/bg-wave-green.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @media screen and (min-width: $bp-min-sm)
    background-position: left center

  &--large
    background-image: url("../assets/curso/temas/tema1/bg-wave-green-large.png")

  &--green
    background-image: url("../assets/curso/temas/tema6/bg-light-green.png")

  &--purple
    background-image: url("../assets/curso/temas/tema1/bg-wave-purple.png")

  &--gris
    background-image: url("../assets/curso/temas/tema4/bg-gris.png")

.bg-color-primario-p70
  background-color: $color-primario-p70
.bg-color-primario-p5
  background-color: $color-primario-p5
.bg-degradado-purple
  background: #8C8FEC
  background: linear-gradient(90deg,rgba(140, 143, 236, 1) 0%, rgba(242, 243, 252, 1) 100%)


.height-available
  height: -webkit-fill-available

.bg-slider
  background-image: url('../assets/curso/temas/tema3/bg-slider.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.slyder-a
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones

  .slyder-a__bullets__item
    margin: 0 5px
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 0.4

    @media screen and (min-width: $bp-min-sm)
      margin: 0 8px

    &.slyder-a__bullets__item--active
      opacity: 1

.link-icon
  font-size: 30px
  padding: 4px 8px
  display: flex
  align-items: center
  justify-content: center

.links-image
  position: absolute
  width: 89px
  left: 0
  transform: translateX(-50%)

.link-text
  max-width: 300px
  color: #134336
  background-color: #F2FBE4

  &--large
    max-width: 500px

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 10px


.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)
  background-color: $color-primario-p5
  h4, p
    color: $color-sistema-texto


.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 18px 13px 30px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 65px))
  background-color: #83A454
  h4, p
    color: white

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px

.tabs-b
  border-bottom: none
  &__content-item
    background-color: #F3F9FF
    @media screen and (min-width: $bp-max-lg)
      padding-top: 40px
      padding-bottom: 40px

  &__tab__icon
    width: 85px
    margin-bottom: 8px

